<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<div th:each="customer: ${allCustomers}">
    <p th:text="${customer.getName()}"></p>
</div>

<div th:each="customer: ${customerById}">
    <p th:text="${customer.getName()}"></p>
</div>

<div th:each="customer: ${customerByUsername}">
    <p th:text="${customer.getName()}"></p>
</div>

<div th:each="customer: ${customersByCity}">
    <p th:text="${customer.getName()}"></p>
</div>

<div th:each="customer: ${customersByCountry}">
    <p th:text="${customer.getName()}"></p>
</div>
</body>
</html>